stages:
  - build
  - deploy
  - cleanup

variables:
  REGISTRY_URL: "192.168.21.10:5005"
  IMAGE_NAME: "root/dashboardbsp"
  TAG: $CI_COMMIT_SHORT_SHA

build_and_push:
  stage: build
  script:
    - echo "gldt-vqxpX9x6W9x_dmymZEBh" | docker login 192.168.21.10:5005 -u "gitlab+deploy-token-4" --password-stdin
    - echo "Building image..."
    - docker build -t $REGISTRY_URL/$IMAGE_NAME:$TAG .
    - docker tag $REGISTRY_URL/$IMAGE_NAME:$TAG $REGISTRY_URL/$IMAGE_NAME:latest
    - echo "Pushing image..."
    - docker push $REGISTRY_URL/$IMAGE_NAME:$TAG
    - docker push $REGISTRY_URL/$IMAGE_NAME:latest
    - docker image prune -f

deploy_to_k3s:
  stage: deploy
  script:
    - kubectl config use-context default
    - kubectl apply -f service.yaml
    - |
      kubectl set env deployment/dashboard-bsp \
        CLICKHOUSE_URL="http://192.168.21.31:8123" \
        CLICKHOUSE_HOST="http://192.168.21.31:8123" \
        CLICKHOUSE_USER="admindb" \
        CLICKHOUSE_PASS="bsp123" \
        CLICKHOUSE_PASSWORD="bsp123" \
        CLICKHOUSE_DB="dbw_bsp_konsolidasi"
    - kubectl set image deployment/dashboard-bsp dashboardbsp=$REGISTRY_URL/$IMAGE_NAME:$TAG
  environment:
    name: production
    url: http://192.168.21.10:30081
    on_stop: stop_production
  resource_group: production
  only:
    - main
  when: manual

# Job baru untuk mengatasi error "on_stop job not defined"
stop_production:
  stage: cleanup
  script:
    - kubectl config use-context default
    - kubectl delete deployment dashboard-bsp
    - kubectl delete svc dashboard-bsp-service
  environment:
    name: production
    action: stop
  when: manual
  only:
    - main