stages:
  - build
  - deploy

variables:
  REGISTRY_URL: "192.168.21.10:5005"
  IMAGE_NAME: "root/dashboard-bsp"
  TAG: $CI_COMMIT_SHORT_SHA

build_and_push:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    # Login menggunakan variabel yang ada di gambar (REGISTRY_USER & REGISTRY_PASSWORD)
    # 1. Pastikan Login menggunakan token yang dibuat di project k3s-stok-prod
    - echo "glpat-djZzvI6fFD1HqgizJGPkiW86MQp1OjQH.01.0w0wzovf2" | docker login 192.168.21.10:5005 -u "itn" --password-stdin

    # Proses Build
    - docker build -t $REGISTRY_URL/$IMAGE_NAME:$TAG .
    - docker tag $REGISTRY_URL/$IMAGE_NAME:$TAG $REGISTRY_URL/$IMAGE_NAME:latest
    
    # Proses Push
    - docker push $REGISTRY_URL/$IMAGE_NAME:$TAG
    - docker push $REGISTRY_URL/$IMAGE_NAME:latest

deploy_to_k3s:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    # KUBECONFIG sudah ada di gambar sebagai tipe 'File', ini sudah benar.
    - kubectl config use-context default
    - kubectl set image deployment/dashboard-bsp dashboard-bsp=$REGISTRY_URL/$IMAGE_NAME:$TAG
  only:
    - main