stages:
  - build
  - deploy

variables:
  REGISTRY_URL: "192.168.21.10:5005"
  # Pastikan nama image sesuai URL proyek Anda
  IMAGE_NAME: "root/dashboardbsp"
  TAG: $CI_COMMIT_SHORT_SHA

build_and_push:
  stage: build
  script:
    # Gunakan Deploy Token yang punya akses write_registry
    - echo "gldt-vqxpX9x6W9x_dmymZEBh" | docker login 192.168.21.10:5005 -u "gitlab+deploy-token-4" --password-stdin
    
    - echo "Building image..."
    - docker build -t $REGISTRY_URL/$IMAGE_NAME:$TAG .
    - docker tag $REGISTRY_URL/$IMAGE_NAME:$TAG $REGISTRY_URL/$IMAGE_NAME:latest
    
    - echo "Pushing image..."
    - docker push $REGISTRY_URL/$IMAGE_NAME:$TAG
    - docker push $REGISTRY_URL/$IMAGE_NAME:latest

deploy_to_k3s:
  stage: deploy
  script:
    - kubectl config use-context default
    # Format: kubectl set image deployment/[NAMA_DEPLOYMENT] [NAMA_CONTAINER]=[IMAGE_URL]
    - kubectl set image deployment/dashboard-bsp dashboard-bsp=$REGISTRY_URL/$IMAGE_NAME:$TAG
  only:
    - main
  when: manual