stages:
  - build
  - deploy

variables:
  REGISTRY_URL: "192.168.21.10:5005"
  IMAGE_NAME: "root/dashboardbsp"
  TAG: $CI_COMMIT_SHORT_SHA

build_and_push:
  stage: build
  script:
    # Login ke registry lokal
    - echo "gldt-vqxpX9x6W9x_dmymZEBh" | docker login 192.168.21.10:5005 -u "gitlab+deploy-token-4" --password-stdin
    
    - echo "Building image..."
    - docker build -t $REGISTRY_URL/$IMAGE_NAME:$TAG .
    - docker tag $REGISTRY_URL/$IMAGE_NAME:$TAG $REGISTRY_URL/$IMAGE_NAME:latest
    
    - echo "Pushing image..."
    - docker push $REGISTRY_URL/$IMAGE_NAME:$TAG
    - docker push $REGISTRY_URL/$IMAGE_NAME:latest

deploy_to_k3s:
  stage: deploy
  script:
    - kubectl config use-context default
    # Menerapkan perubahan Service (port 30081 -> 3001)
    - kubectl apply -f service.yaml
    
    # Menyuntikkan konfigurasi ClickHouse ke dalam Deployment
    - |
      kubectl set env deployment/dashboard-bsp \
        CLICKHOUSE_HOST="192.168.21.31" \
        CLICKHOUSE_PORT="8123" \
        CLICKHOUSE_USER="admindb" \
        CLICKHOUSE_PASS="bsp123" \
        CLICKHOUSE_DB="dbw_bsp_konsolidasi"
    
    # Update image dengan nama container yang benar: dashboardbsp
    - kubectl set image deployment/dashboard-bsp dashboardbsp=$REGISTRY_URL/$IMAGE_NAME:$TAG
  only:
    - main
  when: manual