stages:
  - build
  - deploy

variables:
  REGISTRY_URL: "192.168.21.10:5005"
  # Pastikan nama image sesuai URL proyek Anda
  IMAGE_NAME: "root/dashboardbsp"
  TAG: $CI_COMMIT_SHORT_SHA

build_and_push:
  stage: build
  script:
    # Login wajib menggunakan kredensial yang punya akses write
    - echo "glpat-djZzvI6fFD1HqgizJGPkiW86MQp1OjQH.01.0w0wzovf2" | docker login 192.168.21.10:5005 -u "itn" --password-stdin
    
    - echo "Building image..."
    # Build akan cepat karena 'node:20-alpine' sudah ada di cache
    - docker build -t $REGISTRY_URL/$IMAGE_NAME:$TAG .
    - docker tag $REGISTRY_URL/$IMAGE_NAME:$TAG $REGISTRY_URL/$IMAGE_NAME:latest
    
    - echo "Pushing image..."
    - docker push $REGISTRY_URL/$IMAGE_NAME:$TAG
    - docker push $REGISTRY_URL/$IMAGE_NAME:latest


deploy_to_k3s:
  stage: deploy
  script:
    - kubectl config use-context default
    - kubectl set image deployment/dashboard-bsp dashboard-bsp=$REGISTRY_URL/$IMAGE_NAME:$TAG
  only:
    - main
  when: manual