stages:
  - build
  - deploy

variables:
  REGISTRY_URL: "192.168.21.10:5005"
  IMAGE_NAME: "root/dashboard-bsp"
  TAG: $CI_COMMIT_SHORT_SHA

build_project:
  stage: build
  tags:
    - shell # Gunakan shell runner Anda
  script:
    - docker build -t $REGISTRY_URL/$IMAGE_NAME:$TAG .
    - docker tag $REGISTRY_URL/$IMAGE_NAME:$TAG $REGISTRY_URL/$IMAGE_NAME:latest
    - docker push $REGISTRY_URL/$IMAGE_NAME:$TAG
    - docker push $REGISTRY_URL/$IMAGE_NAME:latest

deploy_to_k3s:
  stage: deploy
  tags:
    - shell
  script:
    - .\kubectl.exe apply -f k3s-bsp.yaml
    - .\kubectl.exe rollout restart deployment/dashboard-bsp